

<div class="container">
    
    <div class="container">
        
      <div class="row">
      <br>
     
            
      </div>
      <div class="email-buttons">
        <button type="button" class="btn btn-outline-secondary m-r-10 back" routerLink="/interface-agent/inbox"><i class="fas fa-angle-left"></i></button>
        </div>
        <br>
      <div class="row">
              <div class="col-12">
                  <div class="card card-margin">
                      <div class="card-body">
                          <div class="row search-body">
                              <div class="col-lg-12">
                                  <div class="search-result">
                                      <div class="result-header">
                                          <div class="row">
                                              <div class="col-lg-6">
                                                  <div class="records">Objet: <b>panne soft</b></div>
                                              </div>
                                              
                                          </div><hr>
                                      </div>
                                      <div class="result-body">
                                          
                                            <div class="media-body">
                                            <span style="float: right;">Today at 1:33pm</span>
                                            
                                            <h5 class="m-5px-tb">{{demande.nom}} {{demande.prenom}}</h5>
                                            
                                            <p class="m-0px font-small">{{demande.email}}</p>
                                        </div>
                                        <hr>
                                      </div>
                                      <p>{{demande.description}}</p>
                                  </div>
                              </div>
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
