
<div class="container" *ngIf="showAdminBoard">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title text-center wow zoomIn">
                <h1>FAQ</h1>
                <span></span>
                <!--<p>Our Frequently Asked Questions here.</p>-->
            </div>
        </div>
    </div>
    </div>
    <br>
<div class="container" *ngIf="showAdminBoard" style="width: 900px;">

    <div class="container">
        <button type="button" class="btn btn-outline-danger" style="
        margin-bottom: 19px;"><i class="fa fa-plus fa-lg"></i></button>
        
<div class="row">
    <div class="col-md-12">
 <!-- Start accordion -->
 <div id="accordion" class="">

    <!-- Start First collapse -->
      <div class="panel checkout-step">
          <div role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" > 

             <div class="row">
                      <div class="col-10 col-lg-9">
                           <span class="checkout-step-number">1</span>
              <h4 class="checkout-step-title"> <a role="button"> Question</a></h4>
                      </div>

                      <div class="col-3 col-lg-3 text-right d-none d-sm-block d-md-block d-lg-block d-xl-block">
                      <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"> <i class="fa fa-pencil"></i></button>
                         <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn "> <i class="fa fa-trash"></i></button>
                         
                         
                      </div>

                       <div class="col-2 col-lg-2 text-right d-md-none d-lg-none">
                          <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"><i class="fa fa-edit"></i></button>
                      </div>
              </div>
           
          </div>
          <div id="collapseOne" class="collapse in">

            <!-- Start collapse body -->

              <div class="checkout-step-body">

                <!-- Start row -->
                  
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="" style="padding: 0px 5px;" >
                             <div class="container">
                              <div class="form-group">
                                  
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content
                                        Some quick example text to build on the card title and make up the bulk of the card's content
                                        Some quick example text to build on the card title and make up the bulk of the card's content
                                        Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  
                              </div>
                            </div>
                          </div>
                         
                      </div>
                      
                      
                      
                  </div>

                  <!-- End row -->


                
                  <!-- End row -->

                  <!-- Start button row -->
                  
                  

                  <!-- End button row -->
                
              </div>
              <!-- End collapse body -->
          </div>
      </div>

      <!-- End First collapse -->
















      <div class="panel checkout-step">
        <div role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne1" > 

           <div class="row">
                    <div class="col-10 col-lg-9">
                         <span class="checkout-step-number">2</span>
            <h4 class="checkout-step-title"> <a role="button"> Question</a></h4>
                    </div>

                    <div class="col-3 col-lg-3 text-right d-none d-sm-block d-md-block d-lg-block d-xl-block">
                    <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"> <i class="fa fa-pencil"></i></button>
                       <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn "> <i class="fa fa-trash"></i></button>
                       
                       
                    </div>

                     <div class="col-2 col-lg-2 text-right d-md-none d-lg-none">
                        <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"><i class="fa fa-edit"></i></button>
                    </div>
            </div>
         
        </div>
        <div id="collapseOne1" class="collapse in">

          <!-- Start collapse body -->

            <div class="checkout-step-body">

              <!-- Start row -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="" style="padding: 0px 5px;" >
                           <div class="container">
                            <div class="form-group">
                                
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content
                                      Some quick example text to build on the card title and make up the bulk of the card's content
                                      Some quick example text to build on the card title and make up the bulk of the card's content
                                      Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                
                            </div>
                          </div>
                        </div>
                       
                    </div>
                    
                    
                    
                </div>

                <!-- End row -->


              
                <!-- End row -->

                <!-- Start button row -->
                
                

                <!-- End button row -->
              
            </div>
            <!-- End collapse body -->
        </div>
    </div>



    <div class="panel checkout-step">
        <div role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne2" > 

           <div class="row">
                    <div class="col-10 col-lg-9">
                         <span class="checkout-step-number">3</span>
            <h4 class="checkout-step-title"> <a role="button"> Question</a></h4>
                    </div>

                    <div class="col-3 col-lg-3 text-right d-none d-sm-block d-md-block d-lg-block d-xl-block">
                    <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"> <i class="fa fa-pencil"></i></button>
                       <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn "> <i class="fa fa-trash"></i></button>
                       
                       
                    </div>

                     <div class="col-2 col-lg-2 text-right d-md-none d-lg-none">
                        <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"><i class="fa fa-edit"></i></button>
                    </div>
            </div>
         
        </div>
        <div id="collapseOne2" class="collapse in">

          <!-- Start collapse body -->

            <div class="checkout-step-body">

              <!-- Start row -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="" style="padding: 0px 5px;" >
                           <div class="container">
                            <div class="form-group">
                                
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content
                                      Some quick example text to build on the card title and make up the bulk of the card's content
                                      Some quick example text to build on the card title and make up the bulk of the card's content
                                      Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                
                            </div>
                          </div>
                        </div>
                       
                    </div>
                    
                    
                    
                </div>

                <!-- End row -->


              
                <!-- End row -->

                <!-- Start button row -->
                
                

                <!-- End button row -->
              
            </div>
            <!-- End collapse body -->
        </div>
    </div>


    <div class="panel checkout-step">
        <div role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne3" > 

           <div class="row">
                    <div class="col-10 col-lg-9">
                         <span class="checkout-step-number">4</span>
            <h4 class="checkout-step-title"> <a role="button"> Question</a></h4>
                    </div>

                    <div class="col-3 col-lg-3 text-right d-none d-sm-block d-md-block d-lg-block d-xl-block">
                    <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"> <i class="fa fa-pencil"></i></button>
                       <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn "> <i class="fa fa-trash"></i></button>
                       
                       
                    </div>

                     <div class="col-2 col-lg-2 text-right d-md-none d-lg-none">
                        <button id="nextBtn" name="nextBtn" class="btn btn-default imc-jfeditbtn"><i class="fa fa-edit"></i></button>
                    </div>
            </div>
         
        </div>
        <div id="collapseOne3" class="collapse in">

          <!-- Start collapse body -->

            <div class="checkout-step-body">

              <!-- Start row -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="" style="padding: 0px 5px;" >
                           <div class="container">
                            <div class="form-group">
                                
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content
                                      Some quick example text to build on the card title and make up the bulk of the card's content
                                      Some quick example text to build on the card title and make up the bulk of the card's content
                                      Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                
                            </div>
                          </div>
                        </div>
                       
                    </div>
                    
                    
                    
                </div>

                <!-- End row -->


              
                <!-- End row -->

                <!-- Start button row -->
                
                

                <!-- End button row -->
              
            </div>
            <!-- End collapse body -->
        </div>
    </div>






















</div>
</div>
</div>
</div>